* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contFilt {
    width: 15rem
}

.bold {
    font-weight: bold;
}

.hs {
border: 1px solid black;
border-radius: 5px;
padding: 0.3rem;
background-color: white;
}

